.appshell {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 48px 240px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}
.supervisors {
  grid-area: 2 / 1 / 3 / 2;
  @apply border-[1px] border-gray-300 p-2;
}
.praclist {
  grid-area: 3 / 1 / 4 / 2;
  @apply border-[1px] border-gray-300 p-2;
}
.pracinfo {
  grid-area: 2 / 2 / 4 / 3;
  @apply border-[1px] border-gray-300 p-2;
}

.cursor-pointer {
  cursor: pointer;
}
h2 {
  font-size: 30px !important;
  font-weight: bold !important;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;;
}

.appointment-max-height {
  max-height: 60%;
  overflow-y: auto;
}